apiVersion: serving.knative.dev/v1
kind: Service
metadata: 
  name: production-app
spec:
  template:
    spec:
      containers: 
      - image: app-image  
        ports:
        - containerPort: 80
      resources:
        limits:
          cpu: 2000m
          memory: 1024Mi  